
.name {
  font-family: Futura;
  list-style: none;
  color: black;
  text-decoration: none;
  left: 5em;
  text-transform: capitalize;
}

li {
  font-family: Futura;
  text-transform: uppercase;
  text-decoration: none;
  list-style: none;
}

.nav {
  border: 7px solid #e7e7e7;
  background-color: #f3f3f3;
  padding: 10px;
  text-decoration: none;
}

li a {
  color: #666;
}

li.component-item {
  display: inline;
}

.navLink {

    display: inline;
    padding: 30px;
}
